*-live
*sublime*
vendor/
app/cache
app/logs
web/bundles
Capfile
app/config/deploy.rb
web/sf*
web/uploads/*
cache/*
plugins/.*
log/*
config/databases.yml
mkmf.log
.rsync*
backups/*
.project
.idea
/nbproject/private/nbproject/
nbproject
deploy.mike.rb
