{% extends 'ApplicationDefaultBundle::layout.html.twig' %}
 {% block body %}
 
     <h1>Trends</h1>
      <p>View some trends about stuff, there are estimates, stories and other fun stuff.</p>
 
 {% endblock %}
