{% extends 'ApplicationDefaultBundle::layout.html.twig' %}
{% block body %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    {% if backlog is defined %}
        <script type="text/javascript">
            $(document).ready(function() {
                $('body').data('backlog', "{{backlog}}");
            });
        </script>
    {% endif %} 
    {% javascripts '@ApplicationDefaultBundle/Resources/public/js/stories.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}


    <h1>Stories</h1>
        <p>What's going on with the Stories mate?</p>
        <h2>Total stories created per month {% if team is defined %} for team {{team}} {% endif %}</h2>
        <div id="chart_div_totalPerMonth" style="width: 950px; height: 500px;"></div>
{% endblock %}
