{% extends 'ApplicationDefaultBundle::layout.html.twig' %}
 {% block body %}
 <script type="text/javascript" src="https://www.google.com/jsapi"></script>
 {% javascripts '@ApplicationDefaultBundle/Resources/public/js/estimates.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}


  <h1>Estimates</h1>
  <p>What's going on with the estimates mate?</p>
  <h2>Spread of estimate sizes per month</h2>
  <div id="chart_div" style="width: 950px; height: 500px;"></div>
  <h2>Total stories created per month</h2>
  <div id="chart_div_totalPerMonth" style="width: 950px; height: 500px;"></div>
 {% endblock %}
