{% extends 'ApplicationDefaultBundle::layout.html.twig' %}
 {% block body %}
 <script type="text/javascript" src="https://www.google.com/jsapi"></script>
 <script type="text/javascript" src="/js/estimates.js"></script>

  <h1>Estimates</h1>
  <p>What's going on with the estimates mate?</p>
  <div id="chart_div" style="width: 950px; height: 500px;"></div>
 {% endblock %}
